@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #f2f2f2;
}

.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

.affix + .container-fluid {
  padding-top: 70px;
}

.header {
  height: 100px;
}

footer {
  padding: 25px;
}

hr.footer {
  border-top: 1px solid LightGray;
  width: 70%;
}
